/* element-plus custom theme */
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #0e36ac
    ),
    'success': (
      'base': #13ce66
    ),
    'warning': (
      'base': #ffba00
    ),
    'danger': (
      'base': #ff4949
    )
  )
);

/* element-plus style */
@use 'element-plus/theme-chalk/src/index.scss' as *;

/* element-plus style reset */
.el-menu {
  // reset border-right
  border-right: none !important;
}

.el-form {
  // set min with for inline form, avoid the form item too narrow
  &.el-form--inline {
    .el-form-item__content {
      min-width: 220px;
    }
  }
}

/* el-table style reset */
.el-table {
  // header font-size and color reset
  .el-table__header-wrapper th {
    background-color: #f2f3f5 !important;
    color: #6e7782;
  }
  // scroll bar style reset
  .el-scrollbar__bar.is-horizontal {
    height: 12px;
  }
  .el-scrollbar__bar.is-vertical {
    width: 12px;
  }
}

/*el-button style reset*/
// .el-button {
//   &.is-text {
//     &:focus,
//     &:hover {
//       background-color: transparent;
//     }
//   }
// }

/* pagination component style cover */
.el-pagination {
  .btn-prev,
  .btn-next,
  .number {
    min-width: 28px;
    height: 28px;
    padding: 0;
  }
  .el-select__wrapper {
    min-height: 28px;
  }
}

/* el-message-box style reset */
.ion-upload-dialog {
  .el-message-box__header {
    background: #f2f3f5;
    margin: -10px -10px 10px -10px;
    padding-bottom: 0;
  }
  .el-message-box__title {
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #1e2e4e;
    display: flex;
    align-items: center;
    height: 40px;
    &::before {
      content: '';
      display: block;
      width: 2px;
      height: 20px;
      margin-right: 10px;
      background-color: #0e36ac;
    }
  }
  .el-message-box__message{
    flex: 1;
  }
}
